<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="junkerw.hazemaze">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hazemaze_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hazemaze_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:versionCode="6">
        <activity
            android:name=".activities.SingleGameSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_single_game_setting"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".activities.InfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_info"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activities.ConclusionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_conclusion"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activities.GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game_window"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activities.MainMenuActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activities.StartSplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>